/* Added Fonts */

@font-face {
  font-family: "Jost";
  font-weight: 500;

  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4g.woff2)
    format("woff2");
}

/* Default Setting */

a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jost, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0%;
  padding: 0%;
}

/* Main Adjustment of The Sidebar */

#sidebar {
  z-index: 1999;
  position: fixed;
  width: 280px;
  height: 200vh;
}

#scrollbar {
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.022);
}

/* Hide scrollbar by default */
#scrollbar::-webkit-scrollbar {
  width: 0;
}

/* Show scrollbar on hover */
#sidebar:hover #scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}

/* Sidebar Wrapper */

#sidebar-collapse {
  margin-top: 87px;
  height: 100vh;
  width: 280px;
  background-color: #fff;
}

/* Adjustment For The Sidebar Titles */

.sidebar-title {
  margin-top: 1.875rem;
}

.sidebar-title span {
  display: block;
  color: #747474;
  font-size: 12px;
  font-weight: 500;
  padding: 0 20px;
  margin-bottom: 10px;
}

/* Clickable Area of The Sidebar Texts */

.sidebar-menu a {
  padding: 11.9px 20px;
  text-align: center;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  color: #404040;
}

/* After Moving Your Move Across The Texts The Color Will Change */

.sidebar-menu a:hover span:not(.green-badge):not(.version-badge) {
  color: #8231d3;
  transition: color 0.3s ease;
}

/* Adjustments For Icons Next To Each Text */

.sidebar-icon {
  color: #a0a0a0;
  display: inline-block;
  margin-right: 20px;
  width: 16px;
  font-size: 18px;
}

/* The Sidebar Texts */

.sidebar-text {
  color: #404040;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3571428571;
}

/* The "Geater Than" Icon Next To Each Title */

.sidebar-toggle-icon {
  font-size: 17px;
  font-weight: 300;
  margin-left: auto;
  color: #a0a0a0;
  margin-left: auto;
}

/* Adjustment For The Seventh Section */

.sidebar-menu:nth-child(7) > a > span {
  color: #8231d3;
}

.sidebar-menu:nth-child(7) .sidebar-toggle-icon {
  font-size: 14px;
}

/* These ULs Belong To eCommerce Seection */

ul {
  margin: 0px;
  padding: 0%;
  padding: 1px 33px 10px 0;
}

.sidebar-menu > ul > li > a {
  margin-left: 36px;
}

/* Removing The Color Made By eCommerce Adjustments */
.sidebar-menu > ul > li > a > span {
  color: #404040 !important;
}

.sidebar-menu:nth-child(7) ul li:first-child {
  background-color: rgba(130, 49, 211, 0.1);
  border-radius: 0 50px 50px 0;
}

.sidebar-menu:nth-child(7) ul li:first-child span {
  color: #8231d3 !important;
}

.badge {
  border-radius: 60px;
  font-size: 9px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.version-badge {
  background-color: rgba(0, 170, 255, 0.1);
  color: #00aaff;
  min-width: 20px;
  height: 18px;
  padding: 0px 8px;
  margin-left: 60px;
}

.green-badge {
  background-color: #06c21fcf;
  color: #fff;
  width: 19px;
  height: 19px;
  padding: 0px 0px;
  margin-left: 120px;
}
