/* Default Setting */

body {
  margin: 0%;
  padding: 0%;
}

header {
  width: 100%;
  height: 1px;
  padding-bottom: 72px;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  position: fixed;
}

#sidebar {
  height: 51.1vw;
  width: 1px;
  padding-right: 280px;
  height: 51.1vw;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
